/* footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
} */
.footer-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.footer {
    background: #0a0a4f;
    min-height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.footer::before {
    content: "© Copyright HDFC Bank Ltd. 2026";
    font-size: 18px;
    font-weight: 400;
}

.footer > * {
    display: none;
}

main {
    padding-bottom: 85px;
}